/* Mobile first approach */
/* @media only screen and (max-width: 768px) {
*/
html {
	scroll-behavior: smooth;
}

/* Navbar  */

.navbar img {
	height: 36px;
}
.navbar {
	padding: 1rem;
}
.hero-text {
	padding-top: 120px;
	padding-bottom: 90px;
}

/* Sizing
*/
.section-padding {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-padding-top {
	padding-top: 80px;
}

.section-padding-bottom {
	padding-bottom: 80px;
}

.md-padding {
	padding-top: 24px;
	padding-bottom: 24px;
}

/* DUMO CTA  */
.dumo-action {
	padding-top: 110px;
	padding-bottom: 110px;
	padding-left: 3%;
}

.banner-top {
	padding-top: 180px;
}
.banner-top1 {
	padding-top: 180px;
	padding-bottom: 260px;
}






/* ***
***
***
*** */


/* For desktop: */
@media only screen and (min-width: 768px) {
	
	/* Navbar  */
	.hero-text {
		padding-top: 140px;
		padding-bottom: 110px;
	}

	/* Sizing
	*/
	.section-padding {
		padding-top: 150px;
		padding-bottom: 150px;
	}
	.section-padding-top {
		padding-top: 150px;
	}
	.section-padding-bottom {
		padding-bottom: 150px;
	}
	.md-padding {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}
/*** 
*End desktop CSS  
*/