/* Mobile first design */
/* Sizing
*/

body {
	font-family: 'museo-sans', sans-serif;
	line-height: 1.45;
	font-size: 16px;
	font-weight: 500;
}
.nav-link {
	color: white;
}
.nav-link:hover {
	color: #e6e6e6;
}
.navbar-toggler-icon {
	background-image: url(../img/icons/ic-nav.svg);
}

a {
	color: black;
}
a:hover {
	color: #535353;
	text-decoration: none;
}

/* Headers
*/

.title {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
}
.h3,
h3 {
	font-size: 20px;
	font-weight: 500;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,
.title {
	font-family: 'interstate', sans-serif;
	line-height: 1.05;
}

.h1, h1 {
	font-size: 2.08rem;
	font-weight: 900;
}
.h2, h2 {
	font-size: 1.55rem;
}
.h4, h4 {
	font-size: 1.75rem;
}

/* Card 
*/


/* Buttons
*/
/* Buttons */
.btn {
	border-radius: 0;
	padding: 0.75rem 1.25rem;
	transition: background-color 200ms linear;
	font-size: 15px;
	font-weight: 900;
}
/* Call to action green buttons */

.btn-primary {
	background-color: white;
	color: #012935;
	border: 2px solid white;
}
.btn-primary:hover {
	background-color: #012935;
	border: 2px solid white;
}
.btn-group-lg>.btn, .btn-lg {  
	padding: 1rem;
	font-size: 22px;
	border-radius: 0;
}

/* input */

.form-control {
	padding: 0.375rem .75rem calc(0.375rem + 1px) .75rem;
	font-size: 18px;
	font-weight: 300;
	color: #1A2438;
	border-radius: 0;
	border: 2px solid black;
	border-right: none;
	border-top: none;
	background: rgba(246, 246, 246, 1);
	transition: 0.5s ease-in-out;
}
select.form-control {
	height: 45px;
}

.form-control:focus {
	color: #1A2438;
	border-color: #134FD5;
	box-shadow: 0 0 0 transparent;
}
.form-group {
	margin-bottom: 1.5rem;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #7C8494 !important;
	opacity: 1;
	font-size: 13px;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #7C8494 !important;
	font-size: 13px;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #7C8494 !important;
	font-size: 13px;
}

/* Backgrounds */

.bg-ai-green {
	background: #012935;
}
.bg-ai-dgreen {
	background: #01202C;
}
.bg-lgray {
	background: #F8F8F8;
}
.bg-yellow {
	background: #E8AB4A;
}

/* Colours */

.c-black {
	color: #000;
}
.c-gray {
	color: #5C5C5C;
}
.c-dgreen {
	color: #01202C;
}





/* ***
***
***
*** */

/* For desktop: */
@media only screen and (min-width: 768px) {
	body,
	.nav-link {
		font-size: 18px;
	}

	/* Headers
	*/
	.title {
		font-size: 75px;
	}
	.h3,
	h3 {
		font-size: 22px;
	}

	/* Buttons
	*/
	/* Buttons */
	.btn {
		padding: 0.75rem 1.25rem;
		font-size: 15px;
	}
	.btn-group-lg>.btn, .btn-lg {
		font-size: 34px;
	}

	/* Input  */

	.form-control {
		padding: 1.675rem .75rem calc(1.375rem + 1px) .75rem;
	}
}

/*** 
*End desktop CSS  
*/