@import "./variables.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
}
.blue{
    background: $blue;
    color: $white;
}
.white{
    background: $white;
    color: $blue;
}
a{
    text-decoration: none;
}

#col{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 7%;
}

h1{
    font-weight: bolder;
}
.display .row, .what-goes-on .row{
    margin: 0px !important;
}

/*navbar and intro*/
.navbar {
    height: 55px;
    display: flex;
    background-color: $white;
    justify-content: space-between;
    z-index: 1;

    @media screen and (max-width: 991px){
        .collapse{
            background-color: $white;
            text-align: right;
            float: right;
            padding: 10px;

            .iconImage{
                display: none;
            }
        }
    }
    .navbar div {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li {
            float: left;
        }
    
        li a {
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;
            display: block;
            color: grey;

            &:hover{
                color: $blue;
            }
        }
        
    }

    .active {
        color: $blue;
    }

    .iconImage{
        // margin: 0 auto;
    }
    .subscribeIcon{
        
    }
    .subscribeIcon img {
        padding: 5px 10px;
        margin: 0 5px;
    }

    #ball {
        margin-right: 10px;
    }

    #get-in-touch {
        font-size: 12px;
        background-color: $blue;
        display: inline-block;
        padding: 0.8em 2.0em;
        border-radius: 2em;
        box-sizing: border-box;
        border: none;
        text-decoration: none;
        font-weight: 300;
        color: #FFFFFF;
        text-align: center;
    }
}


#main {
    height: 100%;
    width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    #sub-main {
        background-color: #081338;
        mix-blend-mode: hard-light;
        height: 100%;
        width: 100%;
        
        #sub{
            background: linear-gradient(90deg, #29064e 0%, rgba(196, 196, 196, 0) 56.77%);
            mix-blend-mode: luminosity;
            
            #sub-main-details {
                width: 100%;
                margin: 0 auto;
                font-size: 90px;
                color: #f0efff;
                padding: 150px 100px;
                font-weight: bolder;
                line-height: 1.18;

                @media only screen and (max-width: 890px){
                    font-size: 75px;
                }
                @media only screen and (max-width: 748px){
                    font-size: 60px;
                }
                @media only screen and (max-width: 644px){
                    font-size: 40px;
                    padding: 100px 50px;
                }

                #sub-main-details-small {
                    line-height: 2.5;
                    font-size: 48px;
            
                    @media only screen and (max-width: 644px){
                        font-size: 20px;
                    }
                }
            }
        }
    }

}

/* what goes on section */
.what-goes-on{
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 900px) and (min-width: 768px){
        .col-md-4{
            max-width: 50% !important;
            flex: 50%;
        } 
    }

    .card-img-top1{
        height: 30px;
        width: 30px;
        margin: 2px;
    }
    .col-md-4{
        margin: 10px 0;

        .card-img-top{
            height: 100px;
            width: 30%;
            margin: 10px auto 10px auto;
        }

        .card{
            border: none;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        }

        .card-img-top{
            height: 50px;
            width: 50px;
            
        }
        
        .card-body{
            text-align: center;
            margin: 10px;
        }
        
        .card-text{
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
        }
        
        .card-title{
            font-weight: bolder;
        }
        
        
    }

    
}

/*display section*/
.display{
    img{
        width: 100%;
    }
    p{
        color: $blue;
        padding: 20px;
        text-align: center;
    }
}

/* subscribe section and footer*/
.exhibition{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;

    @media screen and (max-width: 970px){
        .col-md-4, .col-md-8{
            max-width: 100%;
            flex: 100%;
        }

        .subscribe{
            width: 80% !important;
            margin: 0 auto;
            text-align: center;

            .sub_text{
                margin: 10px 0 !important;
                width: 100% !important;
            }
            p{
                width: 100% !important;
            }
        }
    }

    .date{
        margin-top: 30px;
        text-align: center;

        p{
            font-size: 36px;
            font-weight: 800;
            position: center center;
            padding-top: 20px;
        }
    }

    button{
        font-size: 16px;
        width: 280px;
        height: 44px;
        margin: 30px 0;
        border-radius: 30px;
        border: none;

        i{
            margin-left: 10px;
        }
    }
    .subscribe{
        font-style: normal;
        font-size: $font-size-19;
        line-height: $line-height-24;

        .sub_text{
            width: 170px;
            margin-left: 70px;
            margin-top: -45px;
        }
        .sub{
            font-size: 23px;
            color: $dark;
            font-weight: bold;
        }

        p{
            width: 280px;
            line-height: 24px;
            margin-top: 30px;
            color: $gray;
        }

        input{
            color: $gray;
            width: 280px;
            height: 44px;
            background: $white;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin: 10px 0;
            text-align: center;
        }

        .volunteers{
            text-align: center;
            padding: 30px 0;

            .call{
                font-size: 36px;
                font-weight: 800;
                line-height: 54px;
            }
            p{
                color: $white;
                margin: 0 auto;
            }
        }
    
    }
    .exhibit{
        min-height: 200px;
        text-align: center;
        padding: 40px 0;

        .call{
            width: 671px;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
        }
    }
}
.footer{
    text-align: center !important;
    width: 100%; 
    margin: 70px 0;
    font-style: normal;
    font-weight: normal;
    line-height: $line-height-24;

    p{
        max-width: 560px;
        font-size: 14px;
        margin: 0 auto;
        color: $gray;
    }

    .icon .fa{
        margin: 20px 10px;
        font-size: 24px;
        text-decoration: none;
        color: rgb(188,156,255);

        &:hover{
            color: #8BA4F9;
            cursor: pointer;
        }
    }
}
