@import "./variables.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
}

/*navbar and intro*/
#navbar {
    height: 55px;
    display: flex;
    background-color: $white;
    justify-content: space-between;
}

#navbar>div {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: grey;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    color: $blue;
}

#subscribeIcon>img {
    padding: 5px 10px;
}

#ball {
    margin-right: 10px;
}

#get-in-touch {
    font-size: 12px;
    background-color: $blue;
    display: inline-block;
    padding: 0.8em 2.0em;
    border-radius: 2em;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
}

#main {
    height: 700px;
    background-image: url("../images/background.png");
    background-size: 100% 100%;
}

#sub-main {
    background-color: #132d7dc2;
    height: 100%;
}

#sub-main-details {
    font-size: 90px;
    color: #f0efff;
    padding: 150px 100px;
    font-weight: bolder;
    line-height: 1.18;
}

#sub-main-details-small {
    line-height: 2.5;
    font-size: 48px;
}

/* what goes on section */
.card-img-top{
    height: 50px;
    width: 50px;
    margin: 10px auto 10px auto;
}

.card-img-top1{
    height: 30px;
    width: 30px;
    margin: 2px;
}

.card-body{
    text-align: center;
    margin: 10px;
}

.card-text{
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    font-weight: 500;
}

.card-title{
    font-weight: bolder;
}

.what-goes-on{
    margin-left: 40px;
}

#col{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 7%;
}

h1{
    font-weight: bolder;
}

/* subscribe section and footer*/
.exhibition{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;

    .subscribe{
        font-style: normal;
        font-size: $font-size-19;
        line-height: $line-height-24;
        width: 40%;

        .sub_text{
            width: 170px;
            margin-left: 70px;
            margin-top: -45px;
        }
        .sub{
            font-size: 23px;
            color: $dark;
            font-weight: bold;
        }

        p{
            width: 280px;
            line-height: 24px;
            margin-top: 30px;
            color: $gray;
        }

        input{
            width: 280px;
            height: 44px;
            background: $white;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
            margin: 30px 0;
            text-align: center;
        }
    
    }
    .exhibit{
        background: $blue;
        float: right;
        min-height: 200px;
        width: 60%;
        text-align: center;
        padding: 40px 0;

        .call{
            color: $white;
            width: 671px;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
        }
        button{
            width: 280px;
            height: 44px;
            margin: 30px 0;
            border-radius: 30px;
            background: $white;
            border: none;
        }
    }
}
.footer{
    text-align: center !important;
    width: 100%; 
    margin: 70px 0;
    font-style: normal;
    font-weight: normal;
    line-height: $line-height-24;

    p{
        width: 560px;
        font-size: 14px;
        margin: 0 auto;
        color: $gray;
    }

    .icon .fa{
        margin: 20px 10px;
        font-size: 24px;
        text-decoration: none;
        color: rgb(188,156,255);

        &:hover{
            color: #8BA4F9;
        }
    }
}
