* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.blue {
  background: #132D7D;
  color: #ffffff;
}

.white {
  background: #ffffff;
  color: #132D7D;
}

a {
  text-decoration: none;
}

#col {
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 7%;
}

h1 {
  font-weight: bolder;
}

/*navbar and intro*/
.navbar {
  height: 55px;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .navbar .collapse {
    background-color: #ffffff;
    text-align: right;
    float: right;
  }
  .navbar .collapse #iconImage, .navbar .collapse #subscribeIcon {
    display: none;
  }
}
.navbar .navbar div {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: grey;
}
.navbar ul li a:hover {
  color: #132D7D;
}
.navbar .active {
  color: #132D7D;
}
.navbar #iconImage {
  margin: 0 auto;
}
.navbar #subscribeIcon img {
  padding: 5px 10px;
  margin: 0 5px;
}
.navbar #ball {
  margin-right: 10px;
}
.navbar #get-in-touch {
  font-size: 12px;
  background-color: #132D7D;
  display: inline-block;
  padding: 0.8em 2em;
  border-radius: 2em;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#main #sub-main {
  background-color: #132d7dc2;
  height: 100%;
  width: 100%;
}
#main #sub-main-details {
  width: 100%;
  margin: 0 auto;
  font-size: 90px;
  color: #f0efff;
  padding: 150px 100px;
  font-weight: bolder;
  line-height: 1.18;
}
@media only screen and (max-width: 890px) {
  #main #sub-main-details {
    font-size: 75px;
  }
}
@media only screen and (max-width: 748px) {
  #main #sub-main-details {
    font-size: 60px;
  }
}
@media only screen and (max-width: 644px) {
  #main #sub-main-details {
    font-size: 40px;
    padding: 100px 50px;
  }
}
#main #sub-main-details-small {
  line-height: 2.5;
  font-size: 48px;
}
@media only screen and (max-width: 644px) {
  #main #sub-main-details-small {
    font-size: 20px;
  }
}

/* what goes on section */
.what-goes-on .card-img-top {
  height: 100px;
  width: 30%;
  margin: 10px auto 10px auto;
}
.what-goes-on .col-md-4 {
  margin: 10px 0;
}
.what-goes-on .card {
  border: none;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.card-img-top {
  height: 50px;
  width: 50px;
}

.card-img-top1 {
  height: 30px;
  width: 30px;
  margin: 2px;
}

.card-body {
  text-align: center;
  margin: 10px;
}

.card-text {
  padding: 10px 50px 10px 50px;
  font-size: 18px;
  font-weight: 500;
}

.card-title {
  font-weight: bolder;
}

.what-goes-on {
  margin-left: 40px;
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  .what-goes-on .col-md-4 {
    max-width: 50% !important;
    flex: 50%;
  }
}

/*display section*/
.display img {
  width: 100%;
}
.display p {
  color: #132D7D;
  padding: 20px;
  text-align: center;
}

/* subscribe section and footer*/
.exhibition {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
@media screen and (max-width: 970px) {
  .exhibition .col-md-4, .exhibition .col-md-8 {
    max-width: 100%;
    flex: 100%;
  }
  .exhibition .subscribe {
    width: 80% !important;
    margin: 0 auto;
    text-align: center;
  }
  .exhibition .subscribe .sub_text {
    margin: 0px !important;
    width: 100% !important;
  }
  .exhibition .subscribe p {
    width: 100% !important;
  }
}
.exhibition .date {
  margin-top: 30px;
  text-align: center;
}
.exhibition .date p {
  font-size: 36px;
  font-weight: 800;
  position: center center;
  padding-top: 20px;
}
.exhibition button {
  font-size: 16px;
  width: 280px;
  height: 44px;
  margin: 30px 0;
  border-radius: 30px;
  border: none;
}
.exhibition button i {
  margin-left: 10px;
}
.exhibition .subscribe {
  font-style: normal;
  font-size: 19px;
  line-height: 24px;
}
.exhibition .subscribe .sub_text {
  width: 170px;
  margin-left: 70px;
  margin-top: -45px;
}
.exhibition .subscribe .sub {
  font-size: 23px;
  color: #1F2041;
  font-weight: bold;
}
.exhibition .subscribe p {
  width: 280px;
  line-height: 24px;
  margin-top: 30px;
  color: rgba(31, 32, 65, 0.75);
}
.exhibition .subscribe input {
  width: 280px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px 0;
  text-align: center;
}
.exhibition .subscribe .volunteers {
  text-align: center;
  padding: 30px 0;
}
.exhibition .subscribe .volunteers .call {
  font-size: 36px;
  font-weight: 800;
  line-height: 54px;
}
.exhibition .subscribe .volunteers p {
  color: #ffffff;
  margin: 0 auto;
}
.exhibition .exhibit {
  min-height: 200px;
  text-align: center;
  padding: 40px 0;
}
.exhibition .exhibit .call {
  width: 671px;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.footer {
  text-align: center !important;
  width: 100%;
  margin: 70px 0;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}
.footer p {
  max-width: 560px;
  font-size: 14px;
  margin: 0 auto;
  color: rgba(31, 32, 65, 0.75);
}
.footer .icon .fa {
  margin: 20px 10px;
  font-size: 24px;
  text-decoration: none;
  color: #bc9cff;
}
.footer .icon .fa:hover {
  color: #8BA4F9;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
